/* 返回顶部按钮容器透明 */
.back-to-top {
  background: transparent !important
  box-shadow: none !important   // 去掉按钮阴影
  border: none !important        // 有些 scheme 会有边框
}
/* 箭头颜色可自定义（保持可见） */
.back-to-top .fa {
  color: #d8c47f !important      // 护眼暗黄色（与你三条杠颜色一致）
  opacity: 0.9
}
/* 百分比数字恢复正常显示 + 颜色变护眼黄 */
.back-to-top-on {
  color: #d8c47f !important
  opacity: 0.9
  display: inline-block !important
}
/* 让 Muse 左侧菜单按钮透明，不挡住文章 */
.sidebar-toggle {
  background: transparent !important;
  box-shadow: none !important
}
/* 内部三条横线的颜色（可自行修改，例如绿色 #2ecc71） */
.toggle-line {
  background: #d8c47f !important;
  
}
/* 修改左上角 "红薯课堂" 的颜色 */
.site-title {
  color: #cc6d2eff !important
}
/* 修改左上角 "一起学习，一起进步" 的颜色 */
.site-subtitle {
  color: #2ecc71 !important
}
//设置左上角长方形的背景色background: #2eccccff 
.site-brand-container{
  background: url('/img/烤红薯.png');
  background-size: cover;
  }
// 文字居中
.text-center {
  text-align: center;
}

/* 作者头像背景白色 */
.site-author-image {
  background: white;
  background-clip: content-box;
}

// 侧边栏按钮样式
.sidebar .sidebar-button {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  a {
    button($orange);  // 使用 orange 主题色
    border: 1px solid $orange;
    border-radius: 4px;

    .fa, .fab, .far, .fas {
      margin-right: 5px; // 图标与文字距离
    }

    // Pisces / Gemini 特殊布局
    if (($scheme == 'Pisces') or ($scheme == 'Gemini')) {
      border: 0;
      color: $orange;
      display: block;

      &:hover {
        background: none;
        border: 0;
        color: darken($orange, 20%);
      }
    }
  }
}